@use "../../styles/grid" as g;

.root {
  max-width: 80%;
  margin: 0 auto;

  @include g.sm {
    max-width: 95%;
  }
}

.center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.fullHeight {
  height: 100vh;
}
