@use "../../styles/grid" as g;

.root {
  background-color: var(--color-dark-gray);
  color: white;
  padding: 1rem;

  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @include g.sm {
    grid-template-columns: 1fr;
  }
}

.source {
  text-align: right;
}
