@use "../../styles/grid" as g;

.container {
  display: grid;
  grid-template-areas:
          "lastname submit"
          "span submit"
          "file submit";
  align-items: center;
  justify-items: stretch;
  column-gap: 2rem;
  row-gap: .5rem;
  grid-template-columns: 1fr 1fr;

  max-width: 500px;

  @include g.sm {
    grid-template-areas:
          "lastname"
          "span"
          "file"
          "submit";
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

.inputText {
  grid-area: lastname;
}

.span {
  grid-area: span;
  text-align: center;
}

.inputFile {
  grid-area: file;
}

.submit {
  grid-area: submit;
}
